{% extends 'base.html' %}

{% block title %}عسل طهران | ساخت وبلاگ{% endblock %}


{% block header %}

<style>
    body {
        color: #000;
        overflow-x: hidden;
        height: 100%;
        /* background-image: url("https://i.imgur.com/GMmCQHC.png"); */
        background-color: #eee8e8;
        background-repeat: no-repeat;
        background-size: 100% 100%
    }

    .card {
        padding: 30px 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
    }

    .blue-text {
        color: #00BCD4
    }

    .form-control-label {
        margin-bottom: 0
    }

    input,
    textarea,
    button {
        padding: 8px 15px;
        border-radius: 5px !important;
        margin: 5px 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 18px !important;
        font-weight: 300
    }

    input:focus,
    textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #00BCD4;
        outline-width: 0;
        font-weight: 400
    }

    .btn-block {
        text-transform: uppercase;
        font-size: 15px !important;
        font-weight: 400;
        height: 43px;
        cursor: pointer
    }

    .btn-block:hover {
        color: #fff !important
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
</style>

{% endblock %}


{% block body %}

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center" style="direction: rtl;">
            <!-- <h3>اضافه کردن محصول</h3> -->
            <!-- <p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for
                you.</p> -->
            <div class="card">
                <h5 class="text-center mb-4">اضافه کردن مقاله</h5>
                <form class="form-card" action="{{url_for('admin.register_blog')}}" method="POST" , enctype="multipart/form-data">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex text-right"> <label
                                class="form-control-label px-3">عنوان مقاله<span class="text-danger">
                                    *</span></label> <input value="{{session.get('blog_title')}}" type="text"
                                id="blog_title" name="blog_title" maxlength="32" placeholder="عنوان مقاله"
                                onblur="validate(1)"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex text-right"> <label
                                class="form-control-label px-3">نویسنده مقاله<span class="text-danger">
                                    *</span></label>
                            <input value="{{session.get('blog_writer')}}" type="text" id="blog_writer"
                                name="blog_writer" placeholder="نویسنده مقاله" maxlength="32" onblur="validate(2)">
                        </div>
                        
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex text-right"> <label
                                class="form-control-label px-3">دسته بندی مرتبط<span class="text-danger">
                                    *</span></label> <input value="{{session.get('blog_group_mortabet')}}" type="text" id="blog_group_mortabet" name="blog_group_mortabet"
                                placeholder="دسته بندی مرتبط" maxlength="128" onblur="validate(4)"> </div>
                    
                    
                            <div class="form-group col-sm-6 flex-column d-flex text-right"> <label
                                    class="form-control-label px-3">لینک تصویر مقاله<span class="text-danger">
                                        *</span></label> <input type="file" id="blog_image" name="blog_image"
                                     maxlength="128" onblur="validate(4)"> </div>
                            </div>
                    

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-12 flex-column d-flex text-right"> <label
                                class="form-control-label px-3">توضیحات متا<span class="text-danger">
                                    *</span></label> <input type="text" id="blog_metacontent"
                                name="blog_metacontent" placeholder="" onblur="validate(6)"> </div>
                    </div>


                    <div class="form-group col-sm-12 flex-column d-flex text-right"> <label
                        class="form-control-label px-3">اصل مقاله<span class="text-danger">
                            *</span></label>
                             <!-- <input type="text" id="blog_content" name="blog_content"
                        placeholder="http://example.com" maxlength="128" onblur="validate(4)"> -->
                        <textarea id="blog_content" name="blog_content" style="width: 100%;" rows="4" cols="50" maxlength="3000" required>
                            </textarea>
                     </div>
                     <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-success">ثبت
                                مقاله</button> </div>
                    </div>
            </div>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}