{% extends 'base.html' %}


{% block title %} عسل طهران | مدیریت ادمین | پکیج هدیه {% endblock %}


{% block header %}


<style>
    body {
        color: #000;
        overflow-x: hidden;
        height: 100%;
        /* background-image: url("https://i.imgur.com/GMmCQHC.png"); */
        background-color: #fae7e7;
        background-repeat: no-repeat;
        background-size: 100% 100%
    }

    .card {
        padding: 30px 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
    }

    .blue-text {
        color: #00BCD4
    }

    .form-control-label {
        margin-bottom: 0
    }

    input,
    textarea,
    button {
        padding: 8px 15px;
        border-radius: 5px !important;
        margin: 5px 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 18px !important;
        font-weight: 300
    }

    input:focus,
    textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #00BCD4;
        outline-width: 0;
        font-weight: 400
    }

    .btn-block {
        text-transform: uppercase;
        font-size: 15px !important;
        font-weight: 400;
        height: 43px;
        cursor: pointer
    }

    .btn-block:hover {
        color: #fff !important
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
</style>


{% endblock %}


{% block body %}

{% with messages = get_flashed_messages(True) %}
{% if messages %}
<div class="row">
  {% for message in messages %}
  <div class="card {{message[0]}} text-white">
    <div style="padding: 0px;" class="card-body">
      {{ message[1] }}
    </div>
  </div>
  {% endfor %}

</div>
{% endif %}
{% endwith %}


<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center" style="direction: rtl;">
            <!-- <h3>اضافه کردن محصول</h3> -->
            <!-- <p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for
                you.</p> -->
            <div class="card">
                <h5 class="text-center mb-4">ارزش افزوده پکیج هدیه</h5>
                <form class="form-card" action="{{url_for('admin.register_gift_pack')}}" method="POST">
                    <div class="row justify-content-between text-left">

                        <div class="form-group col-sm-12 flex-column d-flex text-right"> <label
                                class="form-control-label px-3">قیمت:(ت)<span class="text-danger">
                                        *</span></label> <input value="{{ gift_pack.price }}" type="text" id="price" name="price" placeholder="ارزش افزوده" maxlength="32"
                                    onblur="validate(3)" required> 
                            </div>
                        <div>

                        <div class="form-group col-sm-12"> <button type="submit"
                                class="btn-block btn-success">ثبت</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
